<div class="row"> 
  <div class="col s12 m12">
    <h4 class="header"><%= "#{@user.nickname}'s profile" %></h4>
    <%= render partial: "users/user", collection: [@user] %>
    <p><i class="small material-icons">account_box</i><%= link_to "Edit your profile", edit_user_path(current_user) %></p>
    <h4 class="header">Posted list</h4>
    <%= render partial: "posts/post", collection: @posts %>
    <%= paginate(@posts) %>
  </div>
</div>
